# node_modules
node_modules

# editor directories
.idea
.vscode
.vercel

# environment variables
.env

# logs and other files
*.log
*.local
*.tsbuildinfo
vite-env.d.ts

# react router
/.react-router/
/build/
/test/
